input {
 border: solid;
 border-width: 1px;
 margin: 2px;
 padding: 2px;
 background-color: #ffffff;
 font-size: 10pt;
 font-family: serif;
}

button {
 border: solid;
 border-width: 1px;
 margin: 2px;
 padding: 2px;
 background-color: #ffffff;
 font-size: 10pt;
 font-family: serif;
}

select {
 border: solid;
 border-width: 1px;
 margin: 2px;
// padding: 2px;
 background-color: #ffffff;
 font-size: 10pt;
 font-family: serif;
}

.NewPasswordInputWidget {
 display: block;
 width: 20%;
 border: solid;
 border-width: 1px;
 margin: 2px;
 padding: 2px;
 background-color: #ffffff;
}

.NewPasswordInputWidget input {
 display: block;
}
